<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>html</key>
	<string>HTML</string>
	<key>css</key>
	<string>CSS</string>
	<key>django</key>
	<string>Django</string>
	<key>javascript</key>
	<string>Javascript</string>
	<key>cpp_c</key>
	<string>C++/C</string>
	<key>java</key>
	<string>Java</string>
	<key>asr</key>
	<string>语音识别</string>
	<key>tts</key>
	<string>语音合成</string>
	<key>compute_vision</key>
	<string>计算机视觉</string>
	<key>nlp</key>
	<string>自然语言处理</string>
	<key>machine_learning</key>
	<string>机器学习</string>
	<key>blockchain</key>
	<string>区块链</string>
</dict>
</plist>
